@{
    Layout = "~/Views/Layout/_Layout2.cshtml";
}   <!-- STAR HEADER SEARCH -->
<section id="hero-area" class="parallax-searchs header-home" data-stellar-background-ratio="0.5" style="overflow: hidden">
    <!-- style="overflow: hidden" -->
    <div class="hero-main">
        <div class="margin-dev" data-aos="zoom-in">
            <div class="row box-header">
                <div class="col-12">
                    <div class="hero-inner">
                        <!-- Welcome Text -->
                        <div class="welcome-text">
                            <h1 class="h1" style="font-weight: bolder">Travel the World</h1>


                            <h4 class="title-desc">
                                Travel agencies that provide round trip, one wat, and multi trip services
                                <br>
                                <br>
                                For those of you like me who have the flexibility to choose a vacation
                            </h4>

                            <h4 class="title-desc-mobile">
                                Travel agencies that provide round trip, one wat, and multi trip services
                                For those of you like me who have the flexibility to choose a vacation
                            </h4>
                        </div>
                        <!--/ End Welcome Text -->
                        <!-- Start Web -->
                        <div class="col-12 row-taps tab-web">
                            <div class="banner-search-wrap">
                                <ul class="nav nav-tabs rld-banner-tab">
                                    <li class="nav-item">
                                        <a class="nav-link active tab-home" data-toggle="tab" href="#tabs_1" style="border-top-left-radius: 8px !important;">VISA</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link tab-header2" data-toggle="tab" href="#tabs_2">Legalization</a>
                                    </li>

                                    <li class="nav-item tab-header3">
                                        <a class="nav-link" data-toggle="tab" href="#tabs_3">Saudi Work Visa</a>
                                    </li>

                                    <li class="nav-item tab-header4">
                                        <a class="nav-link" data-toggle="tab" href="#tabs_4">Saudi Invitaion Letter</a>
                                    </li>

                                    <li class="nav-item tab-header5">
                                        <a class="nav-link last-link" data-toggle="tab" href="#tabs_5">Translation</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <!-- Start -->
                                    <div class="tab-pane fade show active" id="tabs_1">
                                        <div class="rld-main-search">
                                            <div class="row">

                                                <!-- &#xf041; -->
                                                <div class="rld-single-select col-lg-2">


                                                    <div class="ui action input">

                                                        <label class="label-home">  <i style="  margin-right: 7px;" class="fas fa-map-marker-alt"></i>Nationality </label>

                                                        <select id="country" autocomplete="on" class="ui compact selection dropdown fa-select ">
                                                            @*
                                                            <option>select</option>
                                                            <option value="china" data-href="china">China </option>
                                                            <option value="brazil" data-href="brazil">  Brazil</option>
                                                            <option value="country" data-href="country"> Country</option>
                                                            <option value="uae" data-href="uae"> UAE</option>
                                                            <option value="usa" data-href="usa">USA</option>
                                                            <option value="egypt" data-href="egypt"> Egypt</option>
                                                            <option value="maldives" data-href="maldives">  MALDIVES</option>*@
                                                        </select>

                                                    </div>




                                                    <!-- <select class="select single-select js-example-basic-single">
                                                        <option>select</option>
                                                        <option value="china" data-href="china"> &#xf041; China</option>
                                                        <option value="brazil" data-href="brazil"> &#xf041; Brazil</option>
                                                        <option value="country" data-href="country"> &#xf041; Country</option>
                                                        <option  value="uae" data-href="uae"> &#xf041; UAE</option>
                                                        <option value="usa" data-href="usa"> &#xf041; USA</option>
                                                        <option value="egypt" data-href="egypt"> &#xf041; Egypt</option>
                                                        <option value="maldives" data-href="maldives"> &#xf041; MALDIVES</option>
                                                    </select> -->
                                                </div>

                                                <div class="rld-single-select col-lg-2">
                                                    <label class="label-home"><i style="  margin-right: 7px;" class="fas fa-map-marker-alt"></i> Living In</label>
                                                    <select autocomplete="on" class="ui compact selection dropdown">

                                                        <option>  select</option>
                                                        <option value="china" data-href="china">China</option>
                                                        <option value="brazil" data-href="brazil"> Brazil</option>
                                                        <option value="country" data-href="country"> Country</option>
                                                        <option value="uae" data-href="uae">UAE</option>
                                                        <option value="usa" data-href="usa"> USA</option>
                                                        <option value="egypt" data-href="egypt"> Egypt</option>
                                                        <option value="maldives" data-href="maldives">   MALDIVES</option>
                                                    </select>
                                                </div>

                                                <div class="rld-single-select col-lg-2">
                                                    <label class="label-home"><i style="  margin-right: 7px;" class="fas fa-map-marker-alt"></i> Residence City</label>
                                                    <select class="ui compact selection dropdown">

                                                        <option>select</option>
                                                        <option value="china" data-href="china"> China</option>
                                                        <option value="brazil" data-href="brazil"> Brazil</option>
                                                        <option value="country" data-href="country">  Country</option>
                                                        <option value="uae" data-href="uae"> UAE</option>
                                                        <option value="usa" data-href="usa">   USA</option>
                                                        <option value="egypt" data-href="egypt">   Egypt</option>
                                                        <option value="maldives" data-href="maldives">  MALDIVES</option>
                                                    </select>
                                                </div>

                                                <div class="rld-single-select col-lg-2">
                                                    <label class="label-home"><i style="  margin-right: 7px;" class="fas fa-map-marker-alt"></i> Traveling To </label>
                                                    <select class="ui compact selection dropdown">

                                                        <option>  select</option>
                                                        <option value="china" data-href="china"> China</option>
                                                        <option value="brazil" data-href="brazil">  Brazil</option>
                                                        <option value="country" data-href="country">  Country</option>
                                                        <option value="uae" data-href="uae">  UAE</option>
                                                        <option value="usa" data-href="usa">  USA</option>
                                                        <option value="egypt" data-href="egypt"> Egypt</option>
                                                        <option value="maldives" data-href="maldives">   MALDIVES</option>
                                                    </select>
                                                </div>

                                                <div class="rld-single-select col-lg-2">
                                                    <label class="label-home">Purpose Of Travel</label>
                                                    <select class="ui compact selection dropdown" style="border: 1px solid #eee !important;border-radius:15px !important;height:38px">
                                                        <option>  select</option>
                                                        <option value="Conference"> Conference</option>
                                                        <option value="Holiday">Holiday</option>
                                                        <option value="Transit"> Transit</option>
                                                        <option value="Business Metting"> Business Metting</option>

                                                    </select>
                                                </div>

                                                <div class="col-lg-2">
                                                    <label class="label-home"></label>
                                                    <a class="btn btn-check" href="#"> Check Requirements</a>
                                                </div>




                                            </div>
                                        </div>
                                    </div>
                                    <!-- End -->
                                    <!-- Start -->
                                    <div class="tab-pane fade" id="tabs_2">
                                        <div class="rld-main-search">
                                            <div class="row">


                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home">Name</label>
                                                    <input type="text" placeholder="Name" class="form-control input-lg" style="border-radius:15px !important">
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home">Email</label>
                                                    <input type="text" placeholder="Email" class="form-control input-lg" style="border-radius:15px !important">
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home">Mobile</label>
                                                    <input type="text" placeholder="Mobile" class="form-control input-lg" style="border-radius:15px !important">
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home"><i style="  margin-right: 7px;" class="fas fa-map-marker-alt"></i> Dcoument From</label>
                                                    <select class="ui compact selection dropdown">
                                                        <option>select</option>
                                                        <option value="china" data-href="china">  China</option>
                                                        <option value="brazil" data-href="brazil">  Brazil</option>
                                                        <option value="country" data-href="country">  Country</option>
                                                        <option value="uae" data-href="uae"> UAE</option>
                                                        <option value="usa" data-href="usa"> USA</option>
                                                        <option value="egypt" data-href="egypt">  Egypt</option>
                                                        <option value="maldives" data-href="maldives">  MALDIVES</option>
                                                    </select>
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home"><i style="  margin-right: 7px;" class="fas fa-map-marker-alt"></i> Used In</label>
                                                    <select class="ui compact selection dropdown">
                                                        <option>select</option>
                                                        <option value="china" data-href="china">  China</option>
                                                        <option value="brazil" data-href="brazil">  Brazil</option>
                                                        <option value="country" data-href="country">  Country</option>
                                                        <option value="uae" data-href="uae"> UAE</option>
                                                        <option value="usa" data-href="usa"> USA</option>
                                                        <option value="egypt" data-href="egypt">  Egypt</option>
                                                        <option value="maldives" data-href="maldives">  MALDIVES</option>
                                                    </select>
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home">Upload Document</label>
                                                    <input type="text" placeholder="Upload Document" class="form-control input-lg" style="border-radius:15px !important">
                                                    <i class="fa fa-file-o file-tap" aria-hidden="true"></i>
                                                </div>

                                                <div class="col-lg-2 col-tap2">
                                                    <label class="label-home"></label>
                                                    <a class="btn btn-yellow get-quote" href="#" id="get-quote">Get Quote</a>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <!-- End-->
                                    <!-- Start -->
                                    <div class="tab-pane fade" id="tabs_3">
                                        <div class="rld-main-search">
                                            <div class="row">


                                                <div class="rld-single-select col-lg-3">
                                                    <label class="label-home"><i style="  margin-right: 7px;" class="fas fa-map-marker-alt"></i> Nationality</label>
                                                    <select class="ui compact selection dropdown">
                                                        <option>select</option>
                                                        <option value="china" data-href="china">  China</option>
                                                        <option value="brazil" data-href="brazil">  Brazil</option>
                                                        <option value="country" data-href="country">  Country</option>
                                                        <option value="uae" data-href="uae"> UAE</option>
                                                        <option value="usa" data-href="usa"> USA</option>
                                                        <option value="egypt" data-href="egypt">  Egypt</option>
                                                        <option value="maldives" data-href="maldives">  MALDIVES</option>
                                                    </select>
                                                </div>

                                                <div class="rld-single-select col-lg-3">
                                                    <label class="label-home"><i style="  margin-right: 7px;" class="fas fa-map-marker-alt"></i> Living In</label>
                                                    <select class="ui compact selection dropdown">
                                                        <option>select</option>
                                                        <option value="china" data-href="china">  China</option>
                                                        <option value="brazil" data-href="brazil">  Brazil</option>
                                                        <option value="country" data-href="country">  Country</option>
                                                        <option value="uae" data-href="uae"> UAE</option>
                                                        <option value="usa" data-href="usa"> USA</option>
                                                        <option value="egypt" data-href="egypt">  Egypt</option>
                                                        <option value="maldives" data-href="maldives">  MALDIVES</option>
                                                    </select>
                                                </div>

                                                <div class="rld-single-select col-lg-3">
                                                    <label class="label-home">Qualification degree from</label>
                                                    <select class="select single-select" style="width:100%;border: 1px solid #eee !important;border-radius:15px !important;height:38px">
                                                        <option> Please Select*</option>
                                                    </select>
                                                </div>




                                                <div class="col-lg-3">
                                                    <label class="label-home"></label>
                                                    <a class="btn btn-check" href="#"> Check Requirements</a>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <!-- End-->
                                    <!-- Start -->
                                    <div class="tab-pane fade" id="tabs_4">
                                        <div class="rld-main-search">
                                            <div class="row">


                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home">Name</label>
                                                    <input type="text" placeholder="Name" class="form-control input-lg" style="border-radius:15px !important">
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home">Email</label>
                                                    <input type="text" placeholder="Email" class="form-control input-lg" style="border-radius:15px !important">
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home">Mobile</label>
                                                    <input type="text" placeholder="Mobile" class="form-control input-lg" style="border-radius:15px !important">
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home"><i style="  margin-right: 7px;" class="fas fa-map-marker-alt"></i> Nationality</label>
                                                    <select class="ui compact selection dropdown">
                                                        <option>select</option>
                                                        <option value="china" data-href="china">  China</option>
                                                        <option value="brazil" data-href="brazil">  Brazil</option>
                                                        <option value="country" data-href="country">  Country</option>
                                                        <option value="uae" data-href="uae"> UAE</option>
                                                        <option value="usa" data-href="usa"> USA</option>
                                                        <option value="egypt" data-href="egypt">  Egypt</option>
                                                        <option value="maldives" data-href="maldives">  MALDIVES</option>
                                                    </select>
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home"><i style="  margin-right: 7px;" class="fas fa-map-marker-alt"></i> Living in</label>
                                                    <select class="ui compact selection dropdown">
                                                        <option>select</option>
                                                        <option value="china" data-href="china">  China</option>
                                                        <option value="brazil" data-href="brazil">  Brazil</option>
                                                        <option value="country" data-href="country">  Country</option>
                                                        <option value="uae" data-href="uae"> UAE</option>
                                                        <option value="usa" data-href="usa"> USA</option>
                                                        <option value="egypt" data-href="egypt">  Egypt</option>
                                                        <option value="maldives" data-href="maldives">  MALDIVES</option>
                                                    </select>
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home">Letter validity</label>
                                                    <select class="ui compact selection dropdown" style="border: 1px solid #eee !important;border-radius:15px !important;height:38px">
                                                        <option> Please Select</option>
                                                        <option> 3 Months</option>
                                                        <option>  6 Months</option>
                                                        <option> 12Months</option>
                                                        <option>  24 Months</option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-2 col-tap2">
                                                    <label class="label-home"></label>
                                                    <a class="btn btn-yellow get-quote" href="#" id="get-quote">Get Quote</a>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <!-- End-->
                                    <!-- Start -->
                                    <div class="tab-pane fade" id="tabs_5">
                                        <div class="rld-main-search">
                                            <div class="row">


                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home">Name</label>
                                                    <input type="text" placeholder="Name" class="form-control input-lg" style="border-radius:15px !important">
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home">Email</label>
                                                    <input type="text" placeholder="Email" class="form-control input-lg" style="border-radius:15px !important">
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home">Mobile</label>
                                                    <input type="text" placeholder="Mobile" class="form-control input-lg" style="border-radius:15px !important">
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home">Upload Document</label>
                                                    <input type="text" placeholder="Upload Document" class="form-control input-lg" style="border-radius:15px !important">
                                                    <i class="fa fa-file-o file-tap" aria-hidden="true"></i>
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home">Document Language</label>
                                                    <select class="ui compact selection dropdown" style="border: 1px solid #eee !important;border-radius:15px !important;height:38px ;padding: .375rem .75rem !important; font-size: 12px !important; color: #999999;">
                                                        <option> Language</option>
                                                    </select>
                                                </div>

                                                <div class="rld-single-select col-lg-2 col-tap2">
                                                    <label class="label-home">Translation Language</label>
                                                    <select class="ui compact selection dropdown" style="border: 1px solid #eee !important;border-radius:15px !important;height:38px; padding: .375rem .75rem !important; font-size: 12px !important; color: #999999;">
                                                        <option> Language</option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-2 col-tap2">
                                                    <label class="label-home"></label>
                                                    <a class="btn btn-yellow get-quote" href="#" id="get-quote">Get Quote</a>
                                                </div>





                                                <div class="explore__form-checkbox-list full-filter">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 py-1 pr-30 pl-0">
                                                            <!-- Form Property Status -->
                                                            <div class="form-group categories">
                                                                <div class="nice-select form-control wide" tabindex="0">
                                                                    <span class="current"><i class="fa fa-home"></i>Property Status</span>
                                                                    <ul class="list">
                                                                        <li data-value="1" class="option selected ">For Sale</li>
                                                                        <li data-value="2" class="option">For Rent</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <!--/ End Form Property Status -->
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 py-1 pr-30 pl-0 ">
                                                            <!-- Form Bedrooms -->
                                                            <div class="form-group beds">
                                                                <div class="nice-select form-control wide" tabindex="0">
                                                                    <span class="current"><i class="fa fa-bed" aria-hidden="true"></i> Bedrooms</span>
                                                                    <ul class="list">
                                                                        <li data-value="1" class="option selected">1</li>
                                                                        <li data-value="2" class="option">2</li>
                                                                        <li data-value="3" class="option">3</li>
                                                                        <li data-value="3" class="option">4</li>
                                                                        <li data-value="3" class="option">5</li>
                                                                        <li data-value="3" class="option">6</li>
                                                                        <li data-value="3" class="option">7</li>
                                                                        <li data-value="3" class="option">8</li>
                                                                        <li data-value="3" class="option">9</li>
                                                                        <li data-value="3" class="option">10</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <!--/ End Form Bedrooms -->
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 py-1 pl-0 pr-0">
                                                            <!-- Form Bathrooms -->
                                                            <div class="form-group bath">
                                                                <div class="nice-select form-control wide" tabindex="0">
                                                                    <span class="current"><i class="fa fa-bath" aria-hidden="true"></i> Bathrooms</span>
                                                                    <ul class="list">
                                                                        <li data-value="1" class="option selected">1</li>
                                                                        <li data-value="2" class="option">2</li>
                                                                        <li data-value="3" class="option">3</li>
                                                                        <li data-value="3" class="option">4</li>
                                                                        <li data-value="3" class="option">5</li>
                                                                        <li data-value="3" class="option">6</li>
                                                                        <li data-value="3" class="option">7</li>
                                                                        <li data-value="3" class="option">8</li>
                                                                        <li data-value="3" class="option">9</li>
                                                                        <li data-value="3" class="option">10</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <!--/ End Form Bathrooms -->
                                                        </div>
                                                        <div class="col-lg-5 col-md-12 col-sm-12 py-1 pr-30 mr-5 sld">
                                                            <!-- Price Fields -->
                                                            <div class="main-search-field-2">
                                                                <!-- Area Range -->
                                                                <div class="range-slider">
                                                                    <label>Area Size</label>
                                                                    <div id="area-range" data-min="0" data-max="1300" data-unit="sq ft"></div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                <br>
                                                                <!-- Price Range -->
                                                                <div class="range-slider">
                                                                    <label>Price Range</label>
                                                                    <div id="price-range" data-min="0" data-max="600000" data-unit="$"></div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-6 col-sm-12 py-1 pr-30">
                                                            <!-- Checkboxes -->
                                                            <div class="checkboxes one-in-row margin-bottom-10 ch-1">
                                                                <input id="check-2" type="checkbox" name="check">
                                                                <label for="check-2">Air Conditioning</label>
                                                                <input id="check-3" type="checkbox" name="check">
                                                                <label for="check-3">Swimming Pool</label>
                                                                <input id="check-4" type="checkbox" name="check">
                                                                <label for="check-4">Central Heating</label>
                                                                <input id="check-5" type="checkbox" name="check">
                                                                <label for="check-5">Laundry Room</label>
                                                                <input id="check-6" type="checkbox" name="check">
                                                                <label for="check-6">Gym</label>
                                                                <input id="check-7" type="checkbox" name="check">
                                                                <label for="check-7">Alarm</label>
                                                                <input id="check-8" type="checkbox" name="check">
                                                                <label for="check-8">Window Covering</label>
                                                            </div>
                                                            <!-- Checkboxes / End -->
                                                        </div>
                                                        <div class="col-lg-3 col-md-6 col-sm-12 py-1 pr-30">
                                                            <!-- Checkboxes -->
                                                            <div class="checkboxes one-in-row margin-bottom-10 ch-2">
                                                                <input id="check-9" type="checkbox" name="check">
                                                                <label for="check-9">WiFi</label>
                                                                <input id="check-10" type="checkbox" name="check">
                                                                <label for="check-10">TV Cable</label>
                                                                <input id="check-11" type="checkbox" name="check">
                                                                <label for="check-11">Dryer</label>
                                                                <input id="check-12" type="checkbox" name="check">
                                                                <label for="check-12">Microwave</label>
                                                                <input id="check-13" type="checkbox" name="check">
                                                                <label for="check-13">Washer</label>
                                                                <input id="check-14" type="checkbox" name="check">
                                                                <label for="check-14">Refrigerator</label>
                                                                <input id="check-15" type="checkbox" name="check">
                                                                <label for="check-15">Outdoor Shower</label>
                                                            </div>
                                                            <!-- Checkboxes / End -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End-->
                                </div>
                            </div>
                        </div>
                        <!-- End Web -->
                        <!-- Start Mobile -->
                        <div class="col-12 row-taps tab-mobile">
                            <div class="banner-search-wrap">
                                <ul class="nav nav-tabs rld-banner-tab">
                                    <li class="nav-item">
                                        <!--   data-toggle="modal" data-target="#tap1" -->
                                        <a class="nav-link active">VISA</a>
                                    </li>

                                    <div class="tab-content">
                                        <!-- Start -->
                                        <div class="tab-pane fade show active" id="tabs_1">
                                            <div class="rld-main-search">
                                                <div class="row">


                                                    <div class="rld-single-select col-lg-2">
                                                        <label class="label-home"><i style="  margin-right: 7px;" class="fas fa-map-marker-alt"></i> Nationality </label>
                                                        <select class="ui compact selection dropdown">
                                                            <option>select</option>
                                                            <option value="china" data-href="china">  China</option>
                                                            <option value="brazil" data-href="brazil">  Brazil</option>
                                                            <option value="country" data-href="country">  Country</option>
                                                            <option value="uae" data-href="uae"> UAE</option>
                                                            <option value="usa" data-href="usa"> USA</option>
                                                            <option value="egypt" data-href="egypt">  Egypt</option>
                                                            <option value="maldives" data-href="maldives">  MALDIVES</option>
                                                        </select>
                                                    </div>

                                                    <div class="rld-single-select col-lg-2">
                                                        <label class="label-home"><i style="  margin-right: 7px;" class="fas fa-map-marker-alt"></i> Living In</label>
                                                        <select class="ui compact selection dropdown">
                                                            <option>select</option>
                                                            <option value="china" data-href="china">  China</option>
                                                            <option value="brazil" data-href="brazil">  Brazil</option>
                                                            <option value="country" data-href="country">  Country</option>
                                                            <option value="uae" data-href="uae"> UAE</option>
                                                            <option value="usa" data-href="usa"> USA</option>
                                                            <option value="egypt" data-href="egypt">  Egypt</option>
                                                            <option value="maldives" data-href="maldives">  MALDIVES</option>
                                                        </select>
                                                    </div>

                                                    <div class="rld-single-select col-lg-2">
                                                        <label class="label-home"><i style="  margin-right: 7px;" class="fas fa-map-marker-alt"></i> Residence City</label>
                                                        <select class="ui compact selection dropdown">
                                                            <option>select</option>
                                                            <option value="china" data-href="china">  China</option>
                                                            <option value="brazil" data-href="brazil">  Brazil</option>
                                                            <option value="country" data-href="country">  Country</option>
                                                            <option value="uae" data-href="uae"> UAE</option>
                                                            <option value="usa" data-href="usa"> USA</option>
                                                            <option value="egypt" data-href="egypt">  Egypt</option>
                                                            <option value="maldives" data-href="maldives">  MALDIVES</option>
                                                        </select>
                                                    </div>

                                                    <div class="rld-single-select col-lg-2">
                                                        <label class="label-home"><i style="  margin-right: 7px;" class="fas fa-map-marker-alt"></i> Traveling To</label>
                                                        <select class="ui compact selection dropdown">
                                                            <option>select</option>
                                                            <option value="china" data-href="china">  China</option>
                                                            <option value="brazil" data-href="brazil">  Brazil</option>
                                                            <option value="country" data-href="country">  Country</option>
                                                            <option value="uae" data-href="uae"> UAE</option>
                                                            <option value="usa" data-href="usa"> USA</option>
                                                            <option value="egypt" data-href="egypt">  Egypt</option>
                                                            <option value="maldives" data-href="maldives">  MALDIVES</option>
                                                        </select>
                                                    </div>

                                                    <div class="rld-single-select col-lg-2">
                                                        <label class="label-home">Purpose Of Travel</label>
                                                        <select class="ui compact selection dropdown" style="border: 1px solid #eee !important;border-radius:15px !important;height:38px">
                                                            <option>  Conference</option>
                                                            <option>  Holiday</option>
                                                            <option>  Transit</option>
                                                            <option>  Business Metting</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-lg-2">
                                                        <label class="label-home"></label>
                                                        <a class="btn btn-check" href="#"> Check Requirements</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- End -->
                                    </div>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="modal" data-target="#tap2">Legalization</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="modal" data-target="#tap3">Saudi Work Visa</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="modal" data-target="#tap4">Saudi Invitaion Letter</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link last-link" data-toggle="modal" data-target="#tap5">Translation</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Mobile -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HEADER SEARCH -->
<!-- START SECTION POPULAR PLACES -->
<section class="feature-categories bg-gray rec-pro">
    <img src="~/images/new/bg-service.png" class="bg-service">
    <div class="container-fluid">
        <div class="sec-title">
            <h2>Services</h2>
        </div>
        <div class="row text-center">
            <div class="offset-1"></div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 size-service" data-aos="zoom-in">
                <div class="small-category-2 text-center">
                    <div class="sc-detail">
                        <h4 class="">
                            <a href="properties-map.html">
                                <img src="~/images/new/h1.png" alt="home-1" width="70%" height="50px">
                            </a>
                        </h4>
                        <h6>Visa</h6>
                        <p class="content-service" style="transform:translateY(5px)">Travel agencies that provide round pne way, and multi trip services</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 size-service" data-aos="zoom-in">
                <div class="small-category-2">
                    <div class="sc-detail">
                        <h4 class="">
                            <a href="properties-map.html">
                                <img src="~/images/new/h2.png" alt="home-1">
                            </a>
                        </h4>
                        <h6>Translation</h6>
                        <p class="content-service" style="transform:translateY(10px)">Travel agencies that provide round pne way, and multi trip services</p>
                    </div>
                </div>
            </div>
            <!-- Single category -->
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 size-service" data-aos="zoom-in">
                <div class="small-category-2">
                    <div class="sc-detail text-center">
                        <h4 class="">
                            <a href="properties-map.html">
                                <img src="~/images/new/h3.png" alt="home-1">
                            </a>
                        </h4>
                        <h6>Legalization</h6>
                        <p class="content-service" style="transform:translateY(10px)">Travel agencies that provide round pne way, and multi trip services</p>
                    </div>
                </div>
            </div>
            <!-- Single category -->
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 size-service" data-aos="zoom-in">
                <div class="small-category-2">
                    <div class="sc-detail text-center">
                        <h4 class="">
                            <a href="properties-map.html">
                                <img src="~/images/new/h4.png" alt="home-1">
                            </a>
                        </h4>
                        <h6>Saudi Work Visa</h6>
                        <p class="content-service" style="transform:translateY(10px)">Travel agencies that provide round pne way, and multi trip services</p>
                    </div>
                </div>
            </div>
            <!-- Single category -->
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 size-service" data-aos="zoom-in">
                <div class="small-category-2">
                    <div class="sc-detail text-center">
                        <h4 class="">
                            <a href="properties-map.html">
                                <img src="~/images/new/h5.png" alt="home-1">
                            </a>
                        </h4>
                        <h6>Saudi Invitation Letter</h6>
                        <p class="content-service">Travel agencies that provide round pne way, and multi trip services</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
</section>
<!-- END SECTION POPULAR PLACES -->
<!-- START SECTION FEATURED PROPERTIES -->
<section class="featured portfolio bg-white-2 rec-pro full-l">

    <div class="container-fluid">
        <div class="sec-title">
            <h2>Top Requested</h2>
        </div>
        <div class="row margin-dev text-center top-requests">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <!-- <p class="city-name"> Saudi Arabia</p> -->
                <div class="overly-image">
                    <!-- <img src="images/new/serv1.png" alt="home-1" class="img-responsive image-city" style="height: 620px;margin-bottom: 20px;width:100%"> -->
                    <div class="overlay image1 text-center">
                        <div class="text"> Saudi Arabia</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-8 col-sm-12 col-xs-12 overly-image">
                        <!-- <p class="city-name"> India</p> -->
                        <!-- <img src="images/new/serv2.png" alt="home-1" class="img-responsive image-city" style="height: 300px;margin-bottom: 20px;width:100%"> -->
                        <div class="overlay image2">
                            <div class="text" style="transform: translateY(-30px)"> India</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 col-xs-12 overly-image">
                        <!-- <p class="city-name"> Australia</p>
                        <img src="images/new/serv3.png" alt="home-1" class="img-responsive image-city" style="height: 300px;margin-bottom: 20px;width:100%"> -->
                        <div class="overlay image3">
                            <div class="text" style="transform: translateY(-30px)"> Australia</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 overly-image">
                        <!-- <p class="city-name"> Turkey</p>
                        <img src="images/new/serv5.png" alt="home-1" class="img-responsive image-city" style="height: 300px;width:100%;margin-bottom: 20px;"> -->
                        <div class="overlay image5">
                            <div class="text" style="transform: translateY(-30px)"> Turkey</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-xs-12 overly-image">
                        <!-- <p class="city-name"> Colombia</p>
                        <img src="images/new/serv4.png" alt="home-1" class="img-responsive image-city" style="height: 300px;margin-bottom: 20px;width:100%"> -->
                        <div class="overlay image4">
                            <div class="text" style="transform: translateY(-30px);border-bottom-right-radius: 10px !important;"> Colombia</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="bg-all" style="margin-top: 20px;">
            <a class="show-flags sec-title" style="color:#AB4B52">view all</a>
        </div>

        <!-- Start Countries -->
        <div class="row flags" style="margin-top: 50px;display: none;">
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f1.png" alt="home-1" width="40px"> <span> Afghanistan (AF)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f2.png" alt="home-1" width="40px"> <span> Aland Islands (AX)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f3.png" alt="home-1" width="40px"> <span> Egypt (EG)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f4.png" alt="home-1" width="40px"> <span> Angola (AO)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f1.png" alt="home-1" width="40px"> <span> Afghanistan (AF)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f2.png" alt="home-1" width="40px"> <span> Aland Islands (AX)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f3.png" alt="home-1" width="40px"> <span> Egypt (EG)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f4.png" alt="home-1" width="40px"> <span> Angola (AO)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f1.png" alt="home-1" width="40px"> <span> Afghanistan (AF)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f2.png" alt="home-1" width="40px"> <span> Aland Islands (AX)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f3.png" alt="home-1" width="40px"> <span> Egypt (EG)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f4.png" alt="home-1" width="40px"> <span> Angola (AO)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f1.png" alt="home-1" width="40px"> <span> Afghanistan (AF)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f2.png" alt="home-1" width="40px"> <span> Aland Islands (AX)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f3.png" alt="home-1" width="40px"> <span> Egypt (EG)</span>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Start -->
            <div class="col-lg-3" style="margin-bottom:20px">
                <div class="card" style="border-radius: 20px">
                    <div class="card-body" style="padding:0.25rem">
                        <img src="~/images/new/f4.png" alt="home-1" width="40px"> <span> Angola (AO)</span>
                    </div>
                </div>
            </div>
            <!-- End -->

        </div>
        <!-- End Countries -->
    </div>
</section>
<!-- END SECTION FEATURED PROPERTIES -->
<!-- START SECTION TESTIMONIALS -->
<section class="testimonials bg-white-2 rec-pro">
    <div class="container-fluid">

        <div class="row">

            <div class=" col-lg-4 text-center back-test">
                <h2 class="sec-title">Testimonials</h2>
                <p class="sec-desc">
                    Our company was established by <br>
                    visionary founders from diverse <br>
                    cultures, backgrounds, and professional <br>
                    careers with a dream of providing  <br>
                    world-class visa solutions to everyone <br>
                    regardless of who the are or where <br>
                    they are from. Keeping the dreams of <br>
                    our founders alive .
                </p>
            </div>

            <div class="col-lg-8" style="overflow-y: scroll">
                <div class="box-testimonials margin-dev size-testimonials">

                    <div class="singleJobClinet row">

                        <div class="col-lg-10" style="padding-top: 20px;padding-left: none !important;">
                            <div class="row">
                                <div class="col-1" style="transform: translateY(-10px)"><span class="style-test">&laquo;</span></div>
                                <div class="col-11">
                                    <p style="transform: translateX(-20px);color:#111;font-size:20px !important;">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore gna a. Ut enim ad minim veniam,
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 text-center" style="padding-left: 0 !important;">
                            <div class="detailJC">
                                <img src="~/images/new/c1.jpeg" width="80px" height="80px" style="border-radius: 100%;" alt="" />
                                <h5>Nor Hany</h5>
                            </div>
                        </div>

                    </div>
                    <div class="singleJobClinet row">

                        <div class="col-lg-10" style="padding-top: 20px;padding-left: none !important;">
                            <div class="row">
                                <div class="col-1" style="transform: translateY(-10px)"><span class="style-test">&laquo;</span></div>
                                <div class="col-11">
                                    <p style="transform: translateX(-20px);color:#111;font-size:20px !important;">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore gna a. Ut enim ad minim veniam,
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 text-center" style="padding-left: 0 !important;">
                            <div class="detailJC">
                                <img src="~/images/new/c1.jpeg" width="80px" height="80px" style="border-radius: 100%;" alt="" />
                                <h5>Nor Hany</h5>
                            </div>
                        </div>

                    </div>

                    <div class="singleJobClinet row">

                        <div class="col-lg-10" style="padding-top: 20px;padding-left: none !important;">
                            <div class="row">
                                <div class="col-1" style="transform: translateY(-10px)"><span class="style-test">&laquo;</span></div>
                                <div class="col-11">
                                    <p style="transform: translateX(-20px);color:#111;font-size:20px !important;">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore gna a. Ut enim ad minim veniam,
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 text-center" style="padding-left: 0 !important;">
                            <div class="detailJC">
                                <img src="~/images/new/c1.jpeg" width="80px" height="80px" style="border-radius: 100%;" alt="" />
                                <h5>Nor Hany</h5>
                            </div>
                        </div>

                    </div>



                    <div class="singleJobClinet row">

                        <div class="col-lg-10" style="padding-top: 20px;padding-left: none !important;">
                            <div class="row">
                                <div class="col-1" style="transform: translateY(-10px)"><span class="style-test">&laquo;</span></div>
                                <div class="col-11">
                                    <p style="transform: translateX(-20px);color:#111;font-size:20px !important;">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore gna a. Ut enim ad minim veniam,
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 text-center">
                            <div class="detailJC">
                                <img src="~/images/new/c1.jpeg" width="80px" height="80px" style="border-radius: 100%;" alt="" />
                                <h5>Nor Hany</h5>
                            </div>
                        </div>

                    </div>

                    <div class="singleJobClinet row">

                        <div class="col-lg-10" style="padding-top: 20px;padding-left: none !important;">
                            <div class="row">
                                <div class="col-1" style="transform: translateY(-10px)"><span class="style-test">&laquo;</span></div>
                                <div class="col-11">
                                    <p style="transform: translateX(-20px);color:#111;font-size:20px !important;">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore gna a. Ut enim ad minim veniam,
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 text-center" style="padding-left: 0 !important;">
                            <div class="detailJC">
                                <img src="~/images/new/c1.jpeg" width="80px" height="80px" style="border-radius: 100%;" alt="" />
                                <h5>Nor Hany</h5>
                            </div>
                        </div>

                    </div>

                    <div class="singleJobClinet row">

                        <div class="col-lg-10" style="padding-top: 20px;padding-left: none !important;">
                            <div class="row">
                                <div class="col-1" style="transform: translateY(-10px)"><span class="style-test">&laquo;</span></div>
                                <div class="col-11">
                                    <p style="transform: translateX(-20px);color:#111;font-size:20px !important;">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore gna a. Ut enim ad minim veniam,
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 text-center" style="padding-left: 0 !important;">
                            <div class="detailJC">
                                <img src="~/images/new/c1.jpeg" width="80px" height="80px" style="border-radius: 100%;" alt="" />
                                <h5>Nor Hany</h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION TESTIMONIALS -->
<!-- START SECTION 1 bg-white  -->
<section class="how-it-works rec-pro" style="background:#F5F7FB;">
    <img src="~/images/new/test.png" alt="home-1" class="img-responsive how1">
    <div class="container-fluid">
        <div class="sec-title">
            <h2 style="margin-top:20px !important">Visa Blogs</h2>
        </div>
        <div class="row service-1 margin-dev">
            <article class="col-lg-3 col-md-6 col-xs-12 serv">
                <div class="serv-flex">
                    <div class="art-1 img-13">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>USA visa</h3>
                    </div>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 col-xs-12 serv">
                <div class="serv-flex">
                    <div class="art-1 img-14">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>UK visa</h3>
                    </div>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 col-xs-12 serv mb-0 pt">
                <div class="serv-flex arrow">
                    <div class="art-1 img-15">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>China visa</h3>
                    </div>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 col-xs-12 serv mb-0 pt its-2">
                <div class="serv-flex">
                    <div class="art-1 img-14">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>Brazil visa</h3>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- END SECTION 1 -->
<!-- START SECTION 2 -->
<section class="how-it-works rec-pro" style="background:#F5F7FB">
    <div class="container-fluid">
        <div class="sec-title">
            <h2>Legalisation</h2>
        </div>
        <div class="row service-1 margin-dev">
            <article class="col-lg-3 col-md-6 col-xs-12 serv">
                <div class="serv-flex">
                    <div class="art-1 img-13">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>Saudi embassy Legalisation</h3>
                    </div>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 col-xs-12 serv">
                <div class="serv-flex">
                    <div class="art-1 img-14">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>UK embassy elgalisation</h3>
                    </div>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 col-xs-12 serv mb-0 pt">
                <div class="serv-flex arrow">
                    <div class="art-1 img-15">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>USA embassy elgalisation</h3>
                    </div>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 col-xs-12 serv mb-0 pt its-2">
                <div class="serv-flex">
                    <div class="art-1 img-14">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>china embassy elgalisation</h3>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- END SECTION 2 -->
<!-- START SECTION 3 -->
<section class="how-it-works rec-pro" style="background:#F5F7FB;">
    <img src="~/images/new/test.png" alt="home-1" class="img-responsive how1">
    <div class="container-fluid">
        <div class="sec-title">
            <h2 style="margin-top:20px !important">Visa Blogs</h2>
        </div>
        <div class="row service-1 margin-dev">
            <article class="col-lg-3 col-md-6 col-xs-12 serv">
                <div class="serv-flex">
                    <div class="art-1 img-13">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>USA visa</h3>
                    </div>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 col-xs-12 serv">
                <div class="serv-flex">
                    <div class="art-1 img-14">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>UK visa</h3>
                    </div>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 col-xs-12 serv mb-0 pt">
                <div class="serv-flex arrow">
                    <div class="art-1 img-15">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>China visa</h3>
                    </div>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 col-xs-12 serv mb-0 pt its-2">
                <div class="serv-flex">
                    <div class="art-1 img-14">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>Brazil visa</h3>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<!-- END SECTION 3 -->
<!-- START SECTION 4 -->
<section class="how-it-works rec-pro" style="background:#F5F7FB">
    <div class="container-fluid">
        <div class="sec-title">
            <h2>Legalisation</h2>
        </div>
        <div class="row service-1 margin-dev">
            <article class="col-lg-3 col-md-6 col-xs-12 serv">
                <div class="serv-flex">
                    <div class="art-1 img-13">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>Saudi embassy Legalisation</h3>
                    </div>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 col-xs-12 serv">
                <div class="serv-flex">
                    <div class="art-1 img-14">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>UK embassy elgalisation</h3>
                    </div>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 col-xs-12 serv mb-0 pt">
                <div class="serv-flex arrow">
                    <div class="art-1 img-15">
                        <img src="~/images/new/slider1.png" alt="home-1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>USA embassy elgalisation</h3>
                    </div>
                </div>
            </article>
            <article class="col-lg-3 col-md-6 col-xs-12 serv mb-0 pt its-2">
                <div class="serv-flex">
                    <div class="art-1 img-14">
                        <img src="~/images/new/slider1.png" alt="home-F1" class="img-responsive" style="width:100%;height: 120px;">
                        <h3>china embassy elgalisation</h3>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


<script src="~/assets/jquery/jquery.min.js"></script>




<script>
    $(function () {


        $.ajax({

            type: "GET",
            url: "https://open-api.visatitans.com/GetSetupData",
            data: { lang: "1" },
            success: function (res) {
               console.log(res)
                    $.each(res, function (Set, Result) {

                       $.each(Result, function (i, Value) {
                        $("#Country").append("<option value=" + Value.NationalityId + ">" + Value.name + "</option>");
                         console.log(Value)

                       });                      
                    });
            }

        });



    });




</script>